<div class="modal fade" id="registerModal<%= event.id%>" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel<%= event.id%>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden=true>&times;</button>
        <h4 class="modal-title">Register for <%= event.title%></h4>
      </div>
        <div class="modal-body">
      <%= render :partial => 'events/register/add_profile', :locals => {:event => event} %>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->