<% content_for :nav do %>
  <%= render 'layouts/nav/admin' %>
<% end %>

  <div class="col-xs-8 col-xs-offset-2">

<div class="zero">
  <div class=""></div>
  <div class="box box-rounded box-inset">
    <div class="box-content">
      <h3>Welcome to Your Studio Manager</h3><!-- Originally h6 -->
      <div class="col-xs-8">
      <p class="nm">To to use our full suite of services you need to register an account. There are a few steps to this process.</p>
      </br>
      <p> First add your credit card to start your free 14 day trial.</p>
      <p> Next select either a professional or studio account.</br>
        and connect your account to Stripe. Finally, once that is complete add in the details of your studio.</p>
      </div>
      <div class="col-xs-4 fr" style="margin-top:-135px;margin-left:20px;">
      <%= link_to 'Create an Account', new_user_account_path(current_user.id),
        :class => 'btn btn-primary btn-tall' ,  :data => {:toggle => "modal", :target => "#accountModal"} , :remote => true%>
        </div>
    </div>
  </div>
</div>

  </div>
