
<div class="row" style="margin-top:-17px;">
	<div class="col-lg-2 leftspan" style="margin-top: 10px;">
		<%= render 'layouts/sidebar' %>
	</div>

	<div class="col-lg-8 rightspan" style="min-height:600px;">

<h3>Student Account</h3>
<div class="divider-horizontal-regular"></div>

<p><b>Name:</b> <%= @user.name %></p>
<p><b>Email:</b>  <%= @user.email if @user.email %></p>

<div class="divider-horizontal-regular"></div>
<h3>Purchase History</h3>


<div class="divider-horizontal-regular"></div>
<h3>Attendance History</h3>

</div>
</div>
</div>