<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->

<link rel='stylesheet' type='text/css' href='fullcalendar.css' />
<script type='text/javascript' src='jquery.js'></script>
<script type='text/javascript' src='fullcalendar.js'></script>

<script> 
$(document).ready(function() {

  
    // page is now ready, initialize the calendar...

$('#calendar').fullCalendar({
	header: {
  	left: 'prev,next today',
  	center: 'title',
  	right: 'month,agendaWeek,agendaDay'
	},
      eventSources: [{
              url: '/studios/1/events/',
      }]
});

$('#my-draggable').draggable({
    revert: true,      // immediately snap back to original position
    revertDuration: 0  //
});


});
</script>

	<div class="col-lg-2 leftspan" style="margin-top: 10px;">
		<%= render 'layouts/sidebar' %>
	</div>

  <div class="col-lg-8 rightspan">
  	<div class="row">
  <div class="col-lg-3">

    <div id='external-events'>
    <h4>Draggable Events</h4>
    <% @events = Event.where(:studio_id => @studio.id) %>
    <% @events.each do |event|%>
    <div class='external-event'>My Event</div>
    <% end %>
    <p>
    <input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
    </p>
    </div>
</div>
  <div class="col-lg-9">

<div id='calendar'></div>
</div>
</div>

    <div class="divider-horizontal-regular"></div>

<%= render 'events/list' %>
</div>