<script> 
$(document).ready(function() {
    // page is now ready, initialize the calendar...
$('#calendar').fullCalendar({
	header: {
  	left: 'prev,next today',
  	center: 'title',
  	right: 'month,agendaWeek,agendaDay'
	},
    eventSources: [{
          url: '/studios/<%= @studio.id %>/calendar.json',
        }],
    eventClick: function(event) {
        if (event.url) {
            window.open(event.url);
            return false;
        }
    },
});

    $('.form_datetime').datetimepicker({
        weekStart: 1,
        autoclose: 1,
        maxView: 3,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
      });

$("#delete_event").observe('ajax:success', function(evt, status, data, xhr) {
    $(this).closest('tr').fadeOut();  
});

});
</script>

  <%= render "layouts/sidebar" %>

  <div class="col-lg-11">
  <div id='calendar'></div>

  <%= render 'list', :locals => {:url => calendar_path, :new_url => new_event_path} %>

</div>
</div>