

<script> 
$(document).ready(function() {
    // page is now ready, initialize the calendar...

$('#calendar').fullCalendar({
	header: {
  	left: 'prev,next today',
  	center: 'title',
  	right: 'month,agendaWeek,agendaDay'
	},
    eventSources: [{
          url: '/studios/1/events',
        }]
});


$('#datetimepicker1').datetimepicker({
    });

$('[data-behaviour~=datepicker]').datepicker({
      "format": "yyyy-mm-dd",
      "weekStart": 0,
      "autoclose": true
    });

});
</script>

	<div class="col-lg-2 leftspan" style="margin-top: 10px;">
		<%= render 'layouts/sidebar' %>
	</div>

  <div class="col-lg-8 rightspan">

  <div id='calendar'></div>


    <div class="divider-horizontal-regular"></div>

<%= render 'events/list' %>
</div>