<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<!-- <%= stylesheet_link_tag "event_calendar" %> -->

<link rel='stylesheet' type='text/css' href='fullcalendar.css' />
<script type='text/javascript' src='jquery.js'></script>
<script type='text/javascript' src='fullcalendar.js'></script>

<script> 
$(document).ready(function() {

    // page is now ready, initialize the calendar...

$('#calendar').fullCalendar({
	header: {
  	left: 'prev,next today',
  	center: 'title',
  	right: 'month,agendaWeek,agendaDay'
	},
});

});
</script>

	<div class="col-lg-2 leftspan" style="margin-top: 10px;">
		<%= render 'layouts/sidebar' %>
	</div>

  <div class="col-lg-8 rightspan">
  	<div class="pull-right">
  		<h3>Create Events</h3>
  	</div>
  	
<div id='calendar'></div>


<h3> Event Calendar </h3>
<%= raw(event_calendar) %>

</div>