

<script> 
$(document).ready(function() {
    // page is now ready, initialize the calendar...

$('#calendar').fullCalendar({
	header: {
  	left: 'prev,next today',
  	center: 'title',
  	right: 'month,agendaWeek,agendaDay'
	},
    eventSources: [{
          url: '/studios/1/events',
        }],

      eventColor: 'transparent'
});


$('#datetimepicker1').datetimepicker({
    });

$('[data-behaviour~=datepicker]').datepicker({
      "format": "yyyy-mm-dd",
      "weekStart": 0,
      "autoclose": true
    });

});
</script>

  <%= render "layouts/sidebar" %>

  <div class="col-lg-8">
</br></br>
  <div id='calendar'></div>
</div>
</n>
<%= render 'events/list' %>
</div>
</div>