<script> 
$(document).ready(function() {
  
$('#calendar').fullCalendar({
	header: {
  	left: 'prev,next today',
  	center: 'title',
  	right: 'month,agendaWeek,agendaDay'
	},
    eventSources: [{
          url: '/calendar.json',
        }],
    eventClick: function(event) {
        if (event.url) {
            window.open(event.url);
            return false;
        }
    },
});

});
</script>

<% content_for :nav do %>
  <%= render 'layouts/nav/calendar' %>
<% end %>

  <div class="col-lg-8 col-lg-offset-2">
  <div id='calendar'></div>

</div>
</div>