<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %></h1>
    <p>
      This is a test email to try out the delay.
    </p>
  </body>
</html>