	<div class="col-lg-2 leftspan" style="margin-top: 10px;">
		<%= render 'layouts/sidebar' %>
	</div>
	<div class="col-lg-8 rightspan" style="min-height:600px;">
		<h3>Welcome to your online studio manager!</h3>

		<h3>Schedule for Today</h3>
		<div class="divider-horizontal-regular"></div>

<a href="https://connect.stripe.com/oauth/authorize?response_type=code&amp;scope=read_write&amp;stripe_landing=login&amp;client_id=ca_2Ksr3KRSkcnkhLjwUQPbFNKuAptJ5sSw" class="stripe-connect"><span>Connect with Stripe</span></a>

	</div>
