<script> 
$(document).ready(function() {
  document.getElementsByTagName('body')[0].id="landing"
});

function toggleID(id){
  $(id).toggle();
}
</script>

<section id="landing-content">   

  <h1 style="padding-top:50px">Let's get more personal</h1>
  <div class="fade-box">

    <p>
      Do you hate the way business tools treat your customers like strangers? </br>
      You're not alone. We understand you need personalized tools. </br>
      WuWei provides client, event and payment management so you can grow.
    </p>


    <%= render "devise/registrations/beta" %>

    <p class="faded"> Wuwei is in limited beta release. Sign up to get an invitation. </p>
  </div>
</section>
