<% content_for :nav do %>
  <%= render "layouts/nav/student" %>
<% end %>

<script> 
$(document).ready(function() {

    Gmaps.map.callback = function() {
  for (var i = 0; i <  Gmaps.map.markers.length; ++i) {
    marker = Gmaps.map.markers[i];
    google.maps.event.addListener(
     marker.serviceObject, 'click', (function(event, index) {
    return function(){
      m = Gmaps.map.markers[index];
      document.getElementById('test').innerHTML = m.html;
      $('#calendar').fullCalendar( 'addEventSource', m.events );
      }
    })(marker,i));

  }
}

});
</script>

<div class="section" style="background-color: #395a6f;height:620px;margin-top:-15px;display:block;">
  <div class="col-lg-10 col-lg-offset-1">
		<h1 class="center"> The best software for </br> managing your studio space </h1>
		<p class="header-subscript center"> Our product is comprehensive, straighforward and versatile. </br> It will serve you as a studio manager or independent professional.</p>


  </div>


</div>

<div class="navbar navbar-inverse" style="color:black;border-radius:0px !important;margin-bottom:0px;padding-bottom:0px;height:50px;"  id="learn"></div>

