	<!-- This is the landing page that everyone first sees -->
		<h3> Find your Zen </h3>
		<p> Search your neighborhood for studios and classes that cater to your interests </p>


		<h3> Online Studio Management </h3>
		
		<ul>
			<li> track students and attendance </li>
			<li> search local instructors </li>
			<li> offer discounts and promotions </li>
		</ul>

		<%= button_to 'Try Free', root_path(), class: 'btn btn-sm btn-default' %>

		<h3>Have peace of mind off the mat</h3>

		Zen Studios has all the features and services you need to run a thriving studio space. Use our software to schedule classes, keep track of students, search for available instructors in the neighborhood. 

		Features that we intend to provide in the near future include: automated sign in for students, streamlined assignment of subs for classes, and SMS notification of events at the studio.

		Having ZenStudios is like inviting a monk to trek down a mountain and put your business in order while you enjoy the relaxation and peace of mind of knowing you're in the their care. So go enjoy a gong bath and spend a little longer in shavasana. 



