<% content_for :nav do %>
  <%= render 'layouts/nav/student' %>
<% end %>

 <div class="col-xs-8 col-xs-offset-2">
	<h3 class="page-title">About Studio Manager</h3>

	<p class="light">This site was started by Kachina Gosselin in response to a conversation over dinner with friends.</p>

	<p class="light">She saw that there was a need for professionals who were looking to break out of the traditional 9-5 career path through yoga and massage certification programs to have a suite of tools to get their business off the ground. Afterall most of the folks entering this informal economy are interested in th

	<p class="light"> What started off as a simple site to give back to the yoga community quickly evolved into a comprehensive solution for a variety of independent professionals and studio owners across different arts. </p>

	<p class="light"> The Studio Manager that you see today is a work in progress, through collaboration with clients, students and technical ninjas it is posed to enter the market (with a new name) in January. And students of yoga, dance, circus and other performance arts will rejoice! </p>

	<p class="light">Kachina remains the sole founder of Studio Manager and is gathering together a small team of talented and dedicated engineers, designers and evangelists. If you are interested in getting involved, becoming a member of the team, or promoting the product please get in touch. </p>
</div>
		
