<% content_for :nav do %>
  <%= render 'layouts/nav/student' %>
<% end %>

 <div class="col-lg-8 col-lg-offset-2">
	<h3 class="page-title">About Studio Manager</h3>

	<p class="light"></p>

</div>
		
