<% content_for :nav do %>
  <%= render 'layouts/nav/student' %>
<% end %>

 <div class="col-lg-8 col-lg-offset-2">
	<h3 class="page-title">About Studio Manager</h3>

	<p class="light">This site was started by Kachina Gosselin in response to a conversation with a yoga instructor over dinner in the summer of 2013.</p>

	<p class="light">It quickly evolved into a comprehensive solution for studio owners, independent professionals and students of yoga, dance, circus and other performance arts. </p>

	<p class="light">Kachina remains the sole founder of Studio Manager. If you are interested in getting involved and joining the team please get in touch. </p>
</div>
		
