<script >
$(document).ready(function() {

  /* Hide the new card form*/
  $("#new_card").hide();

  /* Show the new card form*/
  $('#toggle_card').on('click', function () {
    $("#new_card").show();
  });

});
</script>

<!-- Rendering the settings navigation -->
<% content_for :nav do %>
<%= render 'layouts/nav/settings' %>
<% end %>


<div class="col-xs-8 col-xs-offset-2">

	<h3 class="page-title"> Billing Details</h3>
	<hr>

 <!-- Check the user to see if the customer data has been saved in our database - different from having Stripe customer -->
 <% if current_user.customer.present? %>
   <!-- Evidence that a card has been supplied -->
   <% if current_user.customer.last_4_digits.present? %>

   <div class="row">
    <div class="col-xs-8">
      <h4 class= "light">Credit card has been provided. Last four digits are: <%= current_user.customer.last_4_digits %>
      </h4>
    </div>

    <!-- Allow user to add a new card - overrides the existing one -->
    <div class="col-xs-4">
      <p class="pull-right">
        <a href="#" id="toggle_card">
          <span class="glyphicon glyphicon-plus-sign" id="add-card"></span>
        </a>
      </p>
    </div>
  </div>                          

  <hr>
  <% end %>

  <!-- Rendering the update form for the card -->
  <div id="new_card">
   <%= render 'customers/update_card', :profile => current_user.profile, :customer => current_user.profile.customer %>
  </div> 

<% else %>
<!-- If there is no customer data you can create one with new card details -->
<%= render 'customers/add_card', :profile => current_user.profile, :customer => current_user.profile.build_customer  %>  
<% end %> 

</div>