<% content_for :nav do %>
  <%= render 'layouts/nav/settings' %>
<% end %>

<div class="col-xs-8 col-xs-offset-2">

	<h3 class="page-title">Notification Settings</h3>
	<hr>

    <p class="light"> Activating your account allows you to be able to manage your calendar, memberships and students.  </p>
    <%= render "devise/registrations/stripe_button" %>

</div>