<% content_for :nav do %>
  <%= render 'layouts/nav/settings' %>
<% end %>

<div class="col-lg-8 col-lg-offset-2">

	<h3 class="page-title"> Notification Settings</h3>
	<hr>

    <p> Activating your account allows you to be able to create </p>
    <%= render "devise/registrations/stripe_button" %>

</div>