<% content_for :nav do %>
  <%= render 'layouts/nav/settings' %>
<% end %>

<div class="col-lg-8 col-lg-offset-2">
	<% if !current_user.account.present? %>

	<h3> Connect your account with Stripe Connect</h3>
	<hr>

    <p> Activating your account allows you to be able to create </p>
    <%= render "devise/registrations/stripe_button" %>

	<% end %>
</div>