/* SIDEBAR */
.sidebar-container {
width:245px;
margin-left:10px;
margin-top:50px;
background-color:#353739;
position:fixed;
top:0px;
bottom:0px;
overflow-y:scroll;
}

.sidebar-header {
  background-color:#222;
  height:45px;
}

#client-search {
  margin-left:10px;
  margin-top:5px;
}

#client-descriptor{
  margin-top:5px;
}

#client-name a{
  color: #fff !important;
}

#client-next {
color:#cbccce;
}

/* Sidebar Search Bar */
.search { 
	padding:6px 15px 6px 30px;
	margin:3px; 
	background: url('./images/search.png') no-repeat 8px 6px; 
}

.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
}

#dark input[type="text"] {
    background: url(search-dark.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #777;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }
/* Sidebar List*/
.sidebar-list-element {
	height:50px;
	margin-top:7px;
}

/* Gradient circles of different colors for client sidebar */
.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px; 
}

.centered .circle {
  margin-top: 25px;
}

.orange {
  background-image: -moz-radial-gradient(45px 45px 0deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 0deg, circle cover, yellow 0%, orange 100%, red 95%);
}