  <div class="modal fade" id="embedPurchase" tabindex="-1" role="dialog" aria-labelledby="embedPurchaseLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden=true>&times;</button>
        <h4 class="modal-title">Add Purchase Form to your Website</h4>
      </div>
      <div class="modal-body">
        <p class="light">To embed a purchase form into your website add the following code to your site: </p>

        <p class="code">
          <% @resource = current_user.active_role.resource %>
          <pre><code>&lt;script src="http://studiostaging.herokuapp.com/products/1.js"&gt;&lt;/script&gt;</code></pre>
        </p>

        <p class="light center"> Need more help? Read our  <a href="/support/docs#embed" >documentation</a>
        </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->