<% if !user_signed_in? %>
<% content_for :nav do %>
  <%= render 'layouts/nav/student' %>
<% end %>
<% end %>

<% content_for :nav do %>
  <%= render 'layouts/nav/settings' %>
<% end %>

<div class="col-lg-10 col-lg-offset-1">


<h3 class="page-title"> All About Studio Manager </h3>
<p class="light"> Software designed to make it simpler to manage your classes, products and students. </p>
<hr>

<div class="row">

	<div class="col-lg-4">
		<div class="ui-box">
			<div class="title">
			<strong>User Documentation</strong>
			</div>

			<ul class="well-list">
                <li> <strong><a href="/support/docs#start" >Getting Started</a></strong>
					<p> It's as simple as 1-2-3</p>
				</li>

				<li> <strong><a href="/support/docs#student" >Student Services</a></strong>
					<p> We're all students</p>
				</li>

				<li> <strong><a href="/support/docs#stripe" >Upgrade your Account</a></strong>
					<p> a.k.a. learn about Stripe</p>
				</li>

                <li> <strong><a href="/support/docs#studio">Add your Studio</a></strong>
                    <p> Unlimited locations </p>
                </li>

                <li> <strong><a href="/support/docs#roster">Staff and Student Roster</a></strong>
                    <p> Even search for instructors to hire </p>
                </li>

				<li> <strong><a href="/support/docs#calendar">Manage your Calendar</a></strong>
					<p> Create events for students </p>
				</li>

                <li> <strong><a href="/support/docs#products">Offer Custom Products</a></strong>
                    <p> Memberships and packages</p>
                </li>

                <li> <strong><a href="/support/docs#embed">Embed Widgets into your Website</a></strong>
                    <p> Purchase forms, classes and calendars </p>
                </li>

                <li> <strong><a href="/support/docs#checkin">Autonomous Check In </a></strong>
                    <p> Students can checkin without staff </p>
                </li>

                <li> <strong><a href="/support/docs#reports">Reports</a></strong>
                    <p> Studio stats at a glance </p>
                </li>

				<li> <strong><a href="/support/docs#faq">FAQ</a></strong>
					<p> Have questions? Find answers.</p>
				</li>
			</ul>
		</div>
	</div>

<div id="all-support">
	<div class="col-lg-4">
		<div class="ui-box">
			<div class="title">
			<strong>Feature Set at a Glance</strong>
			</div>

			<ul class="well-list">

				<li> <strong><a href="#">Scalable Services</a></strong>
					<p> Built in flexibility for your business - we serve independent professionals and studio owners alike. </p>
				</li>

				<li> <strong><a href="#">List Unlimited Locations</a></strong>
					<p> We know the true measure of business is the number of students you serve and not your square footage.</p>
				</li>

				<li> <strong><a href="#">Calendar and Events</a></strong>
					<p>Create events: classes, workshops and series. Display on your calendar and embed on your website.</p>
				</li>

				<li> <strong><a href="#">Memberships and Packages</a></strong>
					<p>Create custom products for your students - unlimited memberships and credit-based packages.</p>
				</li>

				<li> <strong><a href="#">Coupons and Discounts</a></strong>
					<p>Create coupon codes for early bird prices, as loyalty gifts and to attract new students to your practice.</p>
				</li>

				<li> <strong><a href="#">Visual Reports and Stats</a></strong>
					<p> Track what matters. At a glance stats to give you the bird's eye view of your business allowing you to optimize for better attendance and more revenue. </p>
				</li>

				<li> <strong><a href="#">Personal Account</a></strong>
					<p> You're a student as well as a teacher. Manage your personal practice. Access your own calendar, history and profile. Get notified of future events and deals. </p>
				</li>	
			<!--
			</ul>
			<div class="title">
			<strong>Potential Features</strong>
			</div>

			<ul class="well-list">

				<li> <p class="center light"> (we're growing to meet your needs) </p> 
				</li>

				<li> <strong><a href="#">Offer Open Space for Rent</a></strong>
					<p> Add your open rooms to a searchable database for independent professionals to book (and earn money).</p>
				</li>

				<li> <strong><a href="#">Mobile App Checkin</a></strong>
					<p> No more waiting in lines! Students will be able to check-in from their mobile devices at the studio.</p>
				</li>

				<li> <strong><a href="#">Your Request Here</a></strong>
					<p> We are always looking to our customers for direction - we're here because of and for you! </p>
				</li>
				-->

				<li><p class="center"> Speed up the request for any particular feature: </p>
					<p class="center" ><strong><a href="mailto:kachina@alum.mit.edu">Contact our Team</a></strong></p>
				</li>	
			</ul>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="ui-box">
			<div class="title">
			<strong>Contact Us</strong>
			</div>

			<ul class="well-list">
				<li> Email our <a href="mailto:kachina@alum.mit.edu">support contact</a> with site suggestions. </li>
				<li> For press inquires email our fearless leader, <a href="mailto:kachina@alum.mit.edu">Kachina</a>. </li>
			</ul>
		</div>
	</div>
</div>
</div>

</div>