<p><%= studio.name %></p>

	<div class="panel panel-primary" >
		<div class="panel-heading">
	        <h5 class="panel-title">List of Classes for <%= @studio.name %> </h5>
	    </div>

		<div id='calendar'></div>

			<ul class="list-group">
			  <li><a href="#" class="list-group-item active">
			    <p class="list-group-item-heading">List group item heading</p>
			    <p class="list-group-item-text">...</p>

			    <a href="#" class="list-group-item">
			    <p class="list-group-item-heading">List group item heading</p>
			    <p class="list-group-item-text">...</p>
			  </a></li>
			</ul>
	</div>