

<script> 
$(document).ready(function() {
    // page is now ready, initialize the calendar...

$('#calendar').fullCalendar({
	header: {
  	left: 'prev,next today',
  	center: 'title',
  	right: 'month,agendaWeek,agendaDay'
	},
    eventSources: [{
              events: '<%= @events.as_json %>',
        }],

      eventColor: 'transparent'
});
});
</script>
<%= @events.as_json %>
    <div id='calendar'></div>