<div class="section bluebackground" style="height:600px;margin-top: -30px;">
 <h1 class="center">Welcome to <%= @studio.name %></h1>
<p class="center" style="padding:0px;"> Feel free to check yourself into class</p>


<% if current_user.has_role? :owner %>


		<div style="margin-top:50px;margin-left:auto;margin-right:auto;width:332px;">
		<%= form_for @studio, :url => checkin_studio_path(@studio), :html => {:method => :get, :class => 'form-vertical'} do |f| %>
		<%= select_tag('event_id', options_from_collection_for_select(@events, "id", "title"),:class=> "form-control", :style => "width:252px;" ) %>
          <button type="submit" class="btn btn-default pull-right" style="margin-top:-34px;">Select</button>
          <% end %>
		</div>
<% else %>
<%= render "layouts/error_page" %>
<% end %>
</div>
<div class="navbar navbar-inverse" style="color:black;border-radius:0px !important;margin-bottom:0px;height:50px;"  id="learn"></div>
