 <h3> Invoice </h3>
    <div class="divider-horizontal-regular"></div>

    		<table class="table table-hover">
				    <thead>
				        <tr>
				          <th>Item</th>
				          <th>Name</th>  
				          <th>Price</th>
				          <th>Quantity</th>
				          <th>Total</th>
				        </tr>
				    </thead>
				    <tbody>
				<% @user = current_user %>
				<% @purchases = @user.customer.purchases%>
				<% @purchases.each do |purchase| %>

					<% if purchase.product_type == "membership" %>
					<% purchase = Membership.find(purchase.product_id) %>
					<% elsif purcahse.product_id == "charge"%>
					<% purchase = Charge.find(purchase.product_id) %>
					<% end %>
				        		<td><%= purchase.name %></td>
				        		<td><%= purchase.price%></td>
		            			<td><%= purchase.price %></td>
				        		<td>delete icon</td>
				        	</tr>
				        <% end %>
				</table>