<script>
$(document).ready(function(){
    document.getElementsByClassName('nav').style.display = 'none';
     //Your actions here
   });
 });
</script>

 <h3> Sign In or Register</h3>

<%= text_field_tag :name %>