<script> 
$(document).ready(function() {

    //NOTE that I am selecting on a class here
    $('#toggle').click(function(e) {
        //You also need to prevent the default behaviour of 
        e.preventDefault();

        $("#container").toggle();
    });

    $(".report").hide();
    $("#overview").show();

    });

    function hidealldivs(){
        $(".report").hide();
        $("#overview").hide();
    }

    function showdiv(id){
        document.getElementById(id).style.display = "block";
    }
</script>


  <div class="col-lg-9 col-lg-offset-2">
    <h3 class="page-title">Custom Reports</h3>

<p class="light"> Get at a glance information about your studio - use our reports to track attendance and revenue. Optimize your business for success. </p>
<hr>

<div class="row">
    <div class="col-lg-3">
        <div class="ui-box">
            <div class="title">
            <strong> <%= current_user.active_role.name.to_s.capitalize %> Reports  </strong>
            </div>

            <ul class="well-list">
                <li> <strong><a href="#attendance" onclick="hidealldivs(); showdiv('attendance')">Attendance</a></strong></li>
                <li> <strong><a href="#revenue" onclick="hidealldivs(); showdiv('revenue')">Revenue</a></strong></li>            
            </ul>

        </div>

        <div class="ui-box">
            <div class="title">
            <strong> Stats at a Glance </strong>
            </div>

            <ul class="well-list">
                <li> <strong>20</strong> students in the past week</li>
                <li>  Memberships up by <strong>20%</strong> </li>
                <li> Average <strong> 5 </strong> classes a day </li>
                <li> <strong> $7.50 </strong> per student per class </li>
                <li> Revenue last month: <strong> $4,380 </strong></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-9 pull-right">

        <div id="overview">
        <h3 class="page-title">Overview</h3>
        <hr>
            <p class="light"> We know that you're so busy running your business that sometimes it's difficult not to get lost in daily details. 
            </p>

            <p class="light"> Here we aim to help you get the bigger picture.
            </p>

            <p class="light"> 
            </p>

        </div>

        <div class="report" id="attendance">
        <h3 class="page-title"> Attendance Graph</h3>
        <hr>

        <img src="<%= Gchart.line( :data => [17, 17, 11, 8, 2], 
            :axis_with_labels => ['x', 'y'], 
            :axis_labels => [((Date.today - 7).to_date..Date.today.to_date).map{ |date| date.strftime("%b %d")}], 
            :axis_range => [nil, [2,17,5]], 
            :width => "900", :height => "300")%>"/>
        </div>

         <div class="report" id="revenue">
        </div>

    </div>
</div>
<hr>

    <p class="center"> <strong> Can't find the custom report you need above?</strong> Send a request to <a href="mailto:kachina@alum.mit.edu">our team</a></p>

</div>

