<script> 
$(document).ready(function() {

    //NOTE that I am selecting on a class here
    $('#toggle').click(function(e) {
        //You also need to prevent the default behaviour of 
        e.preventDefault();

        $("#container").toggle();
    });

    });
</script>


<div class="row">
	<div class="col-lg-2 leftspan" style="margin-top: 10px;">
		<%= render 'layouts/sidebar' %>
	</div>

	<div class="col-lg-8 rightspan" style="min-height:600px;">
    <h3> Reports</h3>
    <div class="divider-horizontal-regular"></div>

    <h4> Attendence this Week</h4>
    <div class="divider-horizontal-regular"></div>

<img src="<%= Gchart.line( :data => [17, 17, 11, 8, 2], 
              :axis_with_labels => ['x', 'y'], 
              :axis_labels => [((Date.today - 7).to_date..Date.today.to_date).map{ |date| date.strftime("%b %d")}], 
              :axis_range => [nil, [2,17,5]], 
            :width => "900", :height => "300")%>"/>
        </br>
            <p>Total # Students: </p>
            <p>Revenue this Week: </p>
            <p>Total # Students: </p>
</div>
</div>

