<div id="sidebar_test"><div><ul class="sidebar">
  <li><a class="link-nav-dashboard" href="/dashboard"><i class="icon-home"></i> <span class="nav-text">Dashboard</span></a></li>
  <li><a class="link-nav-dashboard link-nav-dashboard-active" href="/dashboard/products"><i class="icon-barcode"></i> <span class="nav-text">Products</span></a></li>
  <li><a class="link-nav-dashboard" href="/dashboard/collections"><i class="icon-shopping-cart"></i> <span class="nav-text">Collections</span></a></li>
  <li><a class="link-nav-dashboard" href="/dashboard/orders"><i class="icon-truck"></i> <span class="nav-text">Orders</span></a></li>
  <li><a class="link-nav-dashboard" href="/dashboard/coupons"><i class="icon-money"></i> <span class="nav-text">Coupons</span></a></li>
  
  
</ul></div></div>