
<div class="modal-body">

    <%= form_for([current_user, current_user.build_account]) do |f| %>

      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :email, :value => current_user.email %>

         <div class="row">
          <p class="lead center"> Sign up with stripe connect to activate your account!</p>
        </div><!-- end of row -->
      <div id="stripe_error">
        <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
      </div>
      </div>
    <div class="modal-footer">
    <div class="actions">
        <%= f.submit "Continue", :class =>"submit-button btn btn-primary", :id => "new_account"%>
    </div>
    </div>
  <% end %>
</div>

